.container
  .block.a
    h4 RWD - 指定比例 與 max/min-width
    img.icon(src = "https://hahow.in/assets/images/logo.svg")
  .block.b
    h4 B (70%)
  .block.c
    h4 C (30%)
  .block.d
    h4 D (35%)
  .block.e
    h4 E (35%)
  .block.f
    h4 F (30%)
  .block.g
    h4 G (100%)