.daybox
  label
    input#switchnight(type="checkbox")
    .top
      .moon
      .cloud
        .rain.rain1
        .rain.rain2
        .rain.rain3
      svg.temsvg
        circle(cx = 0 cy = 100 r = 3) 
        text(x = 0 y = 100) 26°C
        circle(cx = 70 cy = 80 r = 3)
        text(x = 70 y = 80) 26°C
        circle(cx = 140 cy = 60 r = 3)
        text(x = 140 y = 60) 26°C
        circle(cx = 210 cy = 90 r = 3)
        text(x = 210 y = 90) 26°C
        circle(cx = 280 cy = 70 r = 3)
        text(x = 280 y = 70) 26°C
        circle(cx = 350 cy = 100 r = 3)
        text(x = 350 y = 100) 26°C
        circle(cx = 420 cy = 60 r = 3)
        text(x = 420 y = 60) 26°C
        circle(cx = 490 cy = 70 r = 3)
        text(x = 490 y = 70) 26°C
        circle(cx = 560 cy = 560 r = 3)

        polyline(points="0,100 70,80 140,60 210,90 280,70 350,100 420,60 490,70 560,560")
      .text_area
        .temper 26°C
        .address 新竹市香山區茄苳里
        .time 星期三 上午4:00
    .bottom
      .dayweather
        h3 MON
        svg(viewbox = '-50 -50 100 100')
          circle.sun(cx = 0 cy = 0 r = 22)
      .dayweather
        h3 TUE
        svg(viewbox = '-50 -50 100 100')
          circle.sun(cx = 0 cy = 0 r = 22)
      .dayweather
        h3 WED
        svg(viewbox = '-50 -50 100 100')
          circle.sun(cx = 0 cy = 0 r = 22)
      .dayweather
        h3 THU
        svg(viewbox = '-50 -50 100 100')
          circle.sun(cx = 0 cy = 0 r = 22)
          circle.cloud(cx = 0 cy = 30 r = 20)
          circle.cloud(cx = -15 cy = 30 r = 20)
          circle.cloud(cx = -30 cy = 30 r = 20)
          circle.cloud(cx = -7 cy = 15 r = 20)
          circle.cloud(cx = -25 cy = 10 r = 20)
      .dayweather
        h3 FRI
        svg(viewbox = '-50 -50 100 100')
          circle.sun(cx = 0 cy = 0 r = 22)
          circle.sun(cx = 0 cy = 0 r = 22)
          circle.cloud(cx = 0 cy = 30 r = 20)
          circle.cloud(cx = -15 cy = 30 r = 20)
          circle.cloud(cx = -30 cy = 30 r = 20)
          circle.cloud(cx = -7 cy = 15 r = 20)
          circle.cloud(cx = -25 cy = 10 r = 20)
      .dayweather
        h3 SAT
        svg(viewbox = '-63 -30 100 100')
          circle.cloud(cx = 0 cy = 30 r = 20)
          circle.cloud(cx = -15 cy = 30 r = 20)
          circle.cloud(cx = -30 cy = 30 r = 20)
          circle.cloud(cx = -7 cy = 15 r = 20)
          circle.cloud(cx = -25 cy = 10 r = 20)
      .dayweather
        h3 SUN
        svg(viewbox = '-63 -30 100 100')
          line.rain(x1 = 5 y1 = 45 x2 = 5 y2 = 80)      
          line.rain(x1 = -30 y1 = 35 x2 = -30 y2 = 65)      
          line.rain(x1 = -15 y1 = 40 x2 = -15 y2 = 70)
          circle.cloud(cx = 0 cy = 30 r = 20)
          circle.cloud(cx = -15 cy = 30 r = 20)
          circle.cloud(cx = -30 cy = 30 r = 20)
          circle.cloud(cx = -7 cy = 15 r = 20)
          circle.cloud(cx = -25 cy = 10 r = 20)
              
        
        
        
        