.container
  .card_wrap
    .card_info_wrap
      img.card_cover(src="https://img.youtube.com/vi/-OCSVzCalLQ/hqdefault.jpg")
      .card_title 世界還是毀滅算了
      .card_des 我覺得世界還是毀滅算了，所以這個歌單就是獻給那些一樣覺得世界還是毀滅算了的人。
      .card_meta_wrap
        .card_owner_wrap
          img.card_owner_avatar(src="https://cfstatic.streetvoice.com/profile_images/sv/mu/svmusic/p1ap2ghls6rrjil9tdklbmp5jd.jpg?x-oss-process=image/resize,m_fill,h_100,w_100,limit_0/interlace,1/quality,q_85/format,jpg")
          .card_owner_name 馬如龍
        .card_love ♥ 218
        .card_timestamp 2018-12-21
      
    .card_list_wrap
      .card_song_wrap
        .song_order 1
        .song_title Mary See the Future 先知瑪莉｜Cheer（Official Video）
      .card_song_wrap
        .song_order 2
        .song_title 遊樂 Amuse - 徹夜狂歡 Dance All Night 【Official Music Video】
      .card_song_wrap
        .song_order 3
        .song_title 美秀集團 Amazing Show－細粒的目睭【Official Lyrics Video】
      .card_song_wrap
        .song_order 4
        .song_title The Roadside Inn【怎麼喝】音樂錄影帶 Official Music Video
      .card_song_wrap
        .song_order 5
        .song_title 落日飛車 Sunset Rollercoaster-Burgundy Red
      .card_song_wrap
        .song_order 6
        .song_title 杜爾與索克 –【 自己做愛】No one loves me 歌詞版MV
      .card_song_wrap
        .song_order 7
        .song_title I Mean Us - 12345 I HATE YOU (Demo)
      .card_song_wrap
        .song_order 8
        .song_title 調澀盤 - 頹垣敗瓦(demo)
      .card_song_wrap
        .song_order 9
        .song_title 五十赫茲 50Hz 《公路電影 Road Trip》 (Official Video)
      .card_song_wrap
        .song_order 10
        .song_title 脆弱少女組-不如跳舞Demo
      .card_song_wrap
        .song_order 11
        .song_title 雨國 Kingdom of Rain - 漩渦
      .card_song_wrap
        .song_order 12
        .song_title 老王樂隊｜補習班的門口高掛著我的黑白照片

      .card_song_wrap
        .song_order 13
        .song_title 擊敗人GeeBryent - Free The Tone
      
      
    