.jumbotron
  .container
    h1 Hello Bootstrap!
    p bootstrap是個很多人使用的網頁模板，裡面有很多別人寫好的現成css資源，也有用來排版很方便的網格系統。
    a.btn.btn-default(href="https://kkbruce.tw/bs3/" target="_blank") 了解更多(中文說明文件)

.container
  h3.page-header 表格練習
  table.table.table-bordered
    thead
      tr
        th 項目
        th 優點
        th 缺點
      tr
        td 速度
        td 	可以很快速建立網頁	
        td 建立起來大同小異
      tr
        td 樣式		
        td 基礎的視覺不會太離譜
        td 想要深入改的時候很需要基礎功
      tr
        td 什麼時候適合用?
        td 快速建立產品/沒時間/業主雷的時候	
        td 	想做動態動去網頁/獨特的設計的時候

  h3.page-header 清單練習
  ul.list-group
    li.list-group-item 清單練習
      span.badge 14 訊息
    li.list-group-item.active 清單練習
    li.list-group-item.disabled 清單練習
    li.list-group-item.list-group-item-success 清單練習
    li.list-group-item 清單練習
    li.list-group-item 清單練習
  h3.page-header 麵包屑導覽列
  ul.breadcrumb
    li 麵包屑導覽列
    li 麵包屑導覽列
    li 麵包屑導覽列
  h3.page-header 如果可以寫完html就刻完網頁的設計哲學
  p 當時間很趕/或是原本對設計版面沒有什麼概念的時候，就會希望，如果元件都幫我刻 好好的是不是就可以刻完html網頁就做完了?
  img.img-responsive(src="https://www.gaslampmedia.com/media/bootstrap.png")
  h3.page-header 按鈕的大小與調整
  p
    .btn.btn-primary 前往報名課程
    .btn.btn-default 主要的按鈕
    .btn.btn-danger 警告危險
    .btn.btn-warning.btn-xs 警告!!!
    .btn.btn-success.btn-large 成功
    br
    br
    .btn-group
      .btn.btn-default 按鈕
      .btn.btn-primary 我現在在這裡
      .btn.btn-default 主鈕
      .btn.btn-default 主按
      .btn.btn-default 要按
    br
    br
    br
    br
    br
    br
    br
      
  
  

