* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .card_wrap {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}
.container .card_wrap .card_info_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  height: 450px;
}
.container .card_wrap .card_info_wrap .card_cover {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.container .card_wrap .card_info_wrap .card_title {
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.container .card_wrap .card_info_wrap .card_des {
  width: 250px;
  margin-bottom: 30px;
}
.container .card_wrap .card_info_wrap .card_meta_wrap {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
}
.container .card_wrap .card_info_wrap .card_meta_wrap .card_owner_wrap {
  display: flex;
}
.container .card_wrap .card_info_wrap .card_meta_wrap .card_owner_wrap .card_owner_avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.container .card_wrap .card_info_wrap .card_meta_wrap .card_owner_wrap .card_owner_name {
  display: flex;
  align-items: center;
}
.container .card_wrap .card_list_wrap {
  height: 450px;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
.container .card_wrap .card_list_wrap .card_song_wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0px 6px;
}
.container .card_wrap .card_list_wrap .card_song_wrap .song_order {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 6px;
}
.container .card_wrap .card_list_wrap .card_song_wrap .song_title {
  height: 40px;
  padding: 6px;
  display: flex;
  align-items: center;
}
