.phone
  .top
    .camera
  .screen
    .pages
      .page.page1 Homepage
        //- .item1
        //- .item2
      .page.page2 Page2
      .page.page3 Page3
  .bottom
    .button □
h3.status The "Best" iphone we've ever made!
h2.phonename iphone5
.buttons
  button.i5 iphone5
  button.i5s iphone5s
  button.i6 iphone6
  button.i6s iphone6+
  button.wiggle wiggle
  button.turn turn around