.container
  p
  .col
    .pin.a
    .pin.b
    .pin.c
    .pin.d
    .pin.e
  .col
    .pin.a
    .pin.b
    .pin.c
    .pin.d
    .pin.e
  .col
    .pin.a
    .pin.b
    .pin.c
    .pin.d
    .pin.e
  .col
    .pin.a
    .pin.b
    .pin.c
    .pin.d
    .pin.e
  .col
    .pin.a
    .pin.b
    .pin.c
    .pin.d
    .pin.e