
.content.content_grey
  .max_width
    h5 Style guideline
    h1 品牌網頁視覺引導-40px 大標題
    h1.english English style guideline for h1 Title
    .title_hr
    h2 品牌網頁視覺引導-30px 中標題
    h2.english English style guideline for h2 Title
    h3 品牌網頁視覺引導-20px 小標題
    h3.english English style guideline for h3 Title
    hr

    h5 VI COLORS
    .color_chip
      .color_tag #ffb336
      .color_block.block_yellow
    .color_chip
      .color_tag #27232F
      .color_block.block_blue
    .color_chip
      .color_tag #f3f7f7
      .color_block.block_white
    .color_chip
      .color_tag #333333
      .color_block.block_grey

    h5 Buttom Example
    .buttom 按鈕範例
    .buttom.buttom_blue 按鈕範例
    .buttom.buttom_yellow 按鈕範例

.content.content_blue
  .max_width
    h5 Style guideline
    h1 品牌網頁視覺引導-40px 大標題
    h1.english English style guideline for h1 Title
    .title_hr
    h2 品牌網頁視覺引導-30px 中標題
    h2.english English style guideline for h2 Title
    h3 品牌網頁視覺引導-20px 小標題
    h3.english English style guideline for h3 Title
    hr

    h5 VI COLORS
    .color_chip
      .color_tag #ffb336
      .color_block.block_yellow
    .color_chip
      .color_tag #27232F
      .color_block.block_blue
    .color_chip
      .color_tag #f3f7f7
      .color_block.block_white
    .color_chip
      .color_tag #333333
      .color_block.block_grey

    h5 Buttom Example
    .buttom 按鈕範例
    .buttom.buttom_blue 按鈕範例
    .buttom.buttom_yellow 按鈕範例

.content.content_white
  .max_width
    h5 Style guideline
    h1 品牌網頁視覺引導-40px 大標題
    h1.english English style guideline for h1 Title
    .title_hr
    h2 品牌網頁視覺引導-30px 中標題
    h2.english English style guideline for h2 Title
    h3 品牌網頁視覺引導-20px 小標題
    h3.english English style guideline for h3 Title
    hr

    h5 VI COLORS
    .color_chip
      .color_tag #ffb336
      .color_block.block_yellow
    .color_chip
      .color_tag #27232F
      .color_block.block_blue
    .color_chip
      .color_tag #f3f7f7
      .color_block.block_white
    .color_chip
      .color_tag #333333
      .color_block.block_grey

    h5 Buttom Example
    .buttom 按鈕範例
    .buttom.buttom_blue 按鈕範例
    .buttom.buttom_yellow 按鈕範例
    
  
  


  
  