.container
  .block.a
    h4 RWD - 指定比例 與 max/min-width
    img.icon(src = "https://hahow.in/assets/images/logo.svg")
  .block.intro
    .sblocks
      .sblock
        img
        h5 標題
      .sblock
        img
        h5 標題
      .sblock
        img
        h5 標題
    
  .block.b
    h4 B (70%)
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內
  .block.c
    h4 C (30%)
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內
  .block.d
    h4 D (35%)
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內
  .block.e
    h4 E (35%)
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內
  .block.f
    h4 F (30%)
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內
  .block.g
    h4 G (100%)
    p 這邊是內文這邊是內文這邊是內文這邊是內文這邊是內文這邊是內
    
    