.channel-container
  .users-profile
    .team-name Web_Class
    .users-name David Hu
  .dm-contact-list
    .header Direct Message
    .contact
      .status ♥
      .name slackbot
    .contact
      .status ●
      .name David Hu
    .contact.inactive
      .status ●
      .name Andy Tsia
    .contact
      .status ●
      .name Kevin Huang
      .notification 2
    .contact.inactive
      .status ●
      .name Steve Jobs
      .notification 1
.content-container
  .chat-header
    .chat-name Andy Tsia
    .chat-status.chat-away ● | away
  .chat-content-list
    .msg-item
      img(src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Cat-icon.png").msg-pic
      .msg-row
        .msg-header
          .msg-name Andy Tsia
          .msg-time 3:45 PM
        .msg-content Hello
    .msg-item
      img(src="https://ca.slack-edge.com/T35494WDN-U36FUCZFZ-db66438ea923-72").msg-pic
      .msg-row
        .msg-header
          .msg-name David Hu
          .msg-time 3:50 PM
        .msg-content Hi Andy
    .msg-item
      img(src="https://ca.slack-edge.com/T35494WDN-U36FUCZFZ-db66438ea923-72").msg-pic
      .msg-row
        .msg-header
          .msg-name David Hu
          .msg-time 3:52 PM
        .msg-content How are you? <br> Is everything fine?
    .msg-item
      img(src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Cat-icon.png").msg-pic
      .msg-row
        .msg-header
          .msg-name Andy Tsia
          .msg-time 4:57 PM
        .msg-content Shut the fxxk up...
  .send-box
    //- button.plus +
    input.send-content(placeholder="message @ ...")
    button.sent-button >