#buylist
  h1 MyBuylist 購物清單
  .buy_item.control_panel
    label 產品名
    input#item_name(placeholder="名稱...")
    label 價錢
    input#item_price(placeholder="234...")
    .add_button +新增
  #item_list
    //- .item
    //-   .item_name 1.吹風機
    //-   .item_price 300
    //-   .del_button X
    //- .item
    //-   .item_name 2.麥克筆
    //-   .item_price 9000
    //-   .del_button X
    //- .item
    //-   .item_name 3.筆記型電腦
    //-   .item_price 13000
    //-   .del_button X
    //- .item
    //-   .item_name 總價
    //-   .item_price 30000
      